.App {
  text-align: center;
  padding-bottom: 20px;
}
.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 15px;
  cursor: pointer;
}

.inactive {
  visibility: hidden;
  cursor: initial;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
